body{ color: black /* #e9967a*/; font-family: 'Gotu', sans-serif;  background-attachment: fixed;  background-size: cover;}
h1,h2{font-family: 'IM Fell French Canon SC', monospace;}
nav{font-family: 'IM Fell French Canon SC', serif;}
footer{color: black /*#e9967a*/;}
a{color: black /*#e9967a*/;}